
<div class="card">
    <div class="card-body">
        <h5 class="card-title">News - Neuen Eintrag erstellen</h5>
        <hr>
        <div>
            <form method="post" action="/index.php/a" enctype="multipart/form-data">
                <button type="button" class="btn btn-danger mb-1">Bild löschen</button>
                <input type="file" class="form-control" name="file" id="img-` + id + `">
                <button type="submit" class="btn btn-primary">Erstellen</button>
            </form>
        </div>
    </div>
</div>
